# NODE_ENV will be set to 'production' automatically in Kubernetes
NODE_ENV=development 

# CORS can be enabled by setting the ORIGINS variable as follows:
# 1) a single domain ('https://domain.com')
# 2) multiple domains separated by a pipe character ('https://domain1.com|https://domain2.com')
# 3) an asterisk to allow access from any domain ('*')
ORIGINS=

# DATABASE CONNECTIONS
# Multiple database connections can be configured in ./src/config/connections
# The most common configuration is a single database, demonstrated below:
DB_HOST=host.docker.internal
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=track-service
DB_PORT=3306
DB_DIALECT=mysql

SPOTIFY_OAUTH_URL=https://accounts.spotify.com/api/token
SPOTIFY_OAUTH_CLIENT_ID=
SPOTIFY_OAUTH_CLIENT_SECRET=
SPOTIFY_SEARCH_API_URL=https://api.spotify.com/v1/search

AUTH_TOKEN=b3N5cTFpZW5rdGZ4d28wbXBxbzIwdmtlaTdvaWthMXg6bjdqcTZieGxtMzhxNzZ3YXd5ZHE2Y2Fua2xxZ2FqdDI=
